<div class="container mt-5 ml-1">
    <form>
        <div class="form-group">
            <h1 class="form-text">Testando API CNPJ no console</h1>
            <br>
            <br>
            <input type="text" class="form-control" ng-model="vm.cnpj">
            <button class="btn btn-dark mt-2 float-right" ng-click="vm.getData()"> Send </button>
        </div>
    </form>

    <div class="contrainer">
        Data:
        <br>
        <li ng-show="vm.data != null">
            {{vm.data}}
        </li>
    </div>
</div>
